@use 'gallery';
@use 'o-nas';
@use 'czlonkostwo';
@use 'kontakt';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background: $color-background-dark;
	color: $color-secondary;
}
section {
	scroll-margin-top: 80px;
}

.hidden {
	display: none !important;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba($color: $color-white, $alpha: 0.9);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

	.header__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 20px;
		height: 64px;
		max-width: 1440px;
		width: 100%;
		

		@include respond(tablet) {
			height: 72px;
		}

		@include respond(desktop) {
			height: 80px;
		}

		.logo {
			display: flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;
			text-decoration: none;
			text-align: center;

			img {
				height: 48px;
				width: auto;
				display: block;

				@include respond(tablet) {
					height: 54px;
				}

				@include respond(desktop) {
					height: 70px;
				}
			}

			.logo__text {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: $color-primary;
				font-weight: 800;
				letter-spacing: 1px;
				font-size: 14px;
				text-transform: uppercase;

				@include respond(tablet) {
					font-size: 20px;
				}

				@include respond(desktop) {
					position: static;
					transform: none;
					font-size: 20px;
					font-size: 14px;
				}

				.logo__subtitle {
					font-size: 10px;
					font-weight: 400;
					letter-spacing: 1px;
					display: block;

					@include respond(tablet) {
						font-size: 14px;
					}
					@include respond(desktop) {
						font-size: 12px;
					}
				}
			}
		}

		.icon__menu {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			padding: 0;
			background-color: transparent;
			border: none;
			width: 48px;
			height: 48px;
			z-index: 1002;
			cursor: pointer;

			@include respond(tablet) {
				width: 58px;
				height: 58px;
			}

			@include respond(desktop) {
				display: none;
			}

			.burger__btn {
				height: 35px;
				width: 35px;
				fill: $color-primary;

				@include respond(tablet) {
					height: 45px;
					width: 45px;
				}
			}

			.close__menu {
				height: 35px;
				width: 35px;
				fill: $color-primary;

				@include respond(tablet) {
					height: 58px;
					width: 58px;
				}
			}
		}

		nav {
			position: fixed;
			display: flex;
			top: 0;
			right: 0;
			height: 100vh;
			z-index: 1001;
			background: transparent;
			background-color: rgba(255, 255, 255, 0.6);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			width: 100%;
			align-items: center;
			justify-content: center;
			transform: translateY(-120%);
			transition: transform 0.4s ease-in-out;

			@include respond(desktop) {
				position: static;
				height: auto;
				width: auto;
				transform: none;
				background-color: transparent;
				backdrop-filter: none;
				transition: none;
			}

			&.active {
				transform: translateY(0);
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 50px;
				height: 100%;
				align-items: center;
				justify-content: center;

				@include respond(tablet) {
					gap: 100px;
				}

				@include respond(desktop) {
					flex-direction: row;
					gap: 30px;
					height: auto;
				}

				li {
					list-style: none;

					a {
						text-decoration: none;
						color: $color-primary;
						text-transform: uppercase;
						font-size: 30px;
						font-weight: 700;
						letter-spacing: 4px;

						@include respond(tablet) {
							font-size: 60px;
							font-weight: 500;
						}

						@include respond(desktop) {
							font-size: 16px;
							font-weight: 600;
							letter-spacing: 1px;
							position: relative;
							text-decoration: none;
							color: $color-primary;
							display: inline-block;

							&::after {
								content: '';
								position: absolute;
								width: 100%;
								height: 2px;
								bottom: -2px;
								left: 0;
								background-color: black;
								transform: scaleX(0);
								transform-origin: bottom right;
								transition: transform 0.3s ease-out;
							}

							&:hover {
								color: black;

								&::after {
									transform: scaleX(1);
									transform-origin: bottom left;
								}
							}
						}
					}
				}
			}
		}
	}
}

main {
	.hero {
		position: relative;
		width: 100%;
		height: calc(100vh - 64px);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding-bottom: 2rem;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
			image-rendering: -webkit-optimize-contrast; /* Dla lepszej ostrości w Chrome/Safari */
			image-rendering: crisp-edges;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
		}

		.text__overlay {
			color: $color-white;
			text-align: center;
			z-index: 1;
			max-width: 800px;
			padding: 0 1rem;

			@include respond(tablet) {
				padding: 1rem;
				max-width: 600px;
			}

			h1 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 1rem;
				letter-spacing: 1px;

				@include respond(tablet) {
					font-size: 5rem;
					font-weight: 500;
				}
			}

			p {
				font-size: 24px;
				font-weight: 300;
				letter-spacing: 1px;
				display: block;

				@include respond(tablet) {
					font-size: 3rem;
				}
			}
		}

		.hero__actions {
			display: flex;
			flex-direction: column;
			z-index: 1;
			gap: 1rem;
			width: 100%;
			align-items: center;

			@include respond(tablet) {
				flex-direction: row;
				width: 60%;
			}

			@include respond(desktop) {
				flex-direction: row;
				width: 30%;
			}

			a {
				text-decoration: none;
				font-size: 18px;
				font-weight: 300;
				letter-spacing: 1px;
				display: block;
			}

			.btn {
				width: 80%;
				text-align: center;
				padding: 1rem;
				border-radius: 8px;

				@include respond(tablet) {
					padding: 1.3rem;
				}

				&.btn__primary {
					background: $color-primary;
					color: white;
					border: 3px solid $color-primary;
					transition: background 0.3s ease;
					font-weight: 400;

					@include respond(desktop) {
						&.btn__primary:hover {
							background: transparent;
						}
					}
				}

				&.btn__secondary {
					background-color: transparent;
					color: $color-white;
					border: 2px solid $color-white;
					font-weight: 400;
					transition:
						background 0.3s ease,
						color 0.3s ease;

					@include respond(desktop) {
						&.btn__secondary:hover {
							background: $color-white;
							color: black;
						}
					}
				}
			}
		}

		@keyframes bounce {
			0%,
			100% {
				transform: translateX(-50%) translateY(0);
			}
			50% {
				transform: translateX(-50%) translateY(10px);
			}
		}

		.scroll__icon {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			animation: bounce 2s infinite;

			svg {
				fill: $color-white;
				width: 34px;
				height: 34px;

				@include respond(tablet) {
					width: 54px;
					height: 54px;
				}
			}
		}
	}

	.stats {
		.stats__container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5rem;
			padding: 4rem;
			align-items: start;
			background: $color-white;

			@include respond(tablet) {
				grid-template-columns: repeat(4, 1fr) !important;
				gap: 1rem;
			}

			@include respond(desktop) {
				padding: 5rem;
			}

			.stats__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				background: $color-white;

				.stats__number {
					font-size: 2.5rem;
					font-weight: 500;
					color: $color-primary;
					padding: 5px;

					@include respond(desktop) {
						font-size: 4rem;
						font-weight: 400;
					}
				}

				.stats__label {
					font-size: 1rem;
					font-weight: 400;
					color: $color-primary;
					text-transform: uppercase;
				}
			}
		}
	}

	.benefits {
		padding: 4rem 1rem;
		background: $color-background-dark;

		@include respond(tablet) {
			padding: 3rem;
		}

		@include respond(desktop) {
			max-width: 1400px;
			margin: 0 auto;
		}

		.benefits__text {
			text-align: start;
			margin-bottom: 2.5rem;

			h2 {
				font-size: 14px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-weight: 300;
				color: $color-secondary;
				margin-bottom: 1rem;

				@include respond(desktop) {
					font-size: 1.3rem;
				}
			}

			p {
				font-size: 2rem;
				font-weight: 350;
				color: $color-white;
				letter-spacing: 1px;
				display: block;
				max-width: 600px;
				margin: 0 auto;
				line-height: 1.3;

				@include respond(tablet) {
					margin: 0;
				}

				@include respond(desktop) {
					font-size: 2.8rem;
				}
			}
		}

		.benefits__container {
			display: grid;
			grid-template-columns: 1fr;

			.benefits__item {
				display: flex;
				flex-direction: row;
				align-items: center;
				text-align: left;
				gap: 1rem;
				padding: 10px;
				border-top: 1px solid rgba($color: $color-white, $alpha: 0.2);

				.benefit__icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 64px;
					height: 64px;
					flex-shrink: 0;

					svg {
						width: 26px;
						height: 26px;
						fill: $color-white;
					}
				}

				.benefit__content {
					flex: 1;
				}

				h3 {
					font-size: 1.2rem;
					font-weight: 500;
					color: $color-white;
					letter-spacing: 1px;
					margin: 10px 0 5px;

					@include respond(desktop) {
						font-size: 1.6rem;
						font-weight: 400;
					}
				}

				p {
					font-size: 1rem;
					font-weight: 300;
					color: $color-white;
					letter-spacing: 1px;
					display: block;
					line-height: 1.5;
					margin: 10px 0 5px;

					@include respond(desktop) {
						font-size: 1.2rem;
						font-weight: 200;
					}
				}
			}
		}
	}

	.map__section {
		display: flex;
		padding: 3rem 1.5rem;
		background: $color-background-dark;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;

		@include respond(desktop) {
			align-items: center;
		}

		.map__header {
			text-align: left;
			width: 100%;

			@include respond(desktop) {
				text-align: center;
			}

			h2 {
				font-size: 18px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-weight: 400;
				color: $color-white;
				margin-bottom: 1rem;

				@include respond(desktop) {
					font-size: 1.6rem;
					font-weight: 400;
				}
			}

			p {
				font-size: 1rem;
				font-weight: 200;
				color: $color-white;
				letter-spacing: 1px;
				display: block;
				line-height: 1.5;

				@include respond(desktop) {
					font-size: 1.2rem;
					font-weight: 200;
				}
			}
		}

		iframe {
			border: none;
			border-radius: 8px;
			height: 300px;
			display: block;

			@include respond(desktop) {
				max-width: 800px;
				height: 500px;
			}
		}
	}
}

.footer {
	padding: 1rem;
	background: $color-white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

	&__top {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 2rem;
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;

		@include respond(tablet) {
			flex-direction: row;
			align-items: center;
		}

		@include respond(desktop) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		text-decoration: none;
		gap: 8px;

		&-img {
			height: 52px;
			width: 52px;

			@include respond(desktop) {
				height: 100px;
				width: 100px;
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
		}

		&-title {
			font-size: 12px;
			font-weight: 700;
			color: $color-primary;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&-subtitle {
			font-size: 11px;
			font-weight: 400;
			color: $color-primary;
			letter-spacing: 1px;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@include respond(tablet) {
			margin-left: auto; // popycha nawigację w prawo
			margin-right: 2rem; // odstęp między nawigacją a kontaktem
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__nav-title,
	&__contact-title {
		font-size: 14px;
		font-weight: 500;
		color: $color-primary;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__nav-list,
	&__contact-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	&__nav-link,
	&__contact-link {
		text-decoration: none;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-secondary;
	}

	&__contact-item {
		font-size: 12px;
		font-weight: 300;
		color: $color-secondary;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-top: 0.5rem;
		text-decoration: none;
		font-size: 12px;
		font-weight: 300;
		color: $color-secondary;
		letter-spacing: 1px;
		text-transform: uppercase;

		svg {
			width: 2rem;
			height: 2rem;

			fill: $color-secondary;
		}
	}

	&__bottom {
		border-top: 1px solid rgba($color-secondary, 0.2);
		padding-top: 1rem;
		margin-top: 2rem;
	}

	&__copy {
		font-size: 10px;
		font-weight: 300;
		color: $color-secondary;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
	}
}


// Animation scroll
.stats__item,
.benefits__item,
.map__section,
.benefits__text {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}


.benefits__item {
  &:nth-child(1) { transition-delay: 0.1s; }
  &:nth-child(2) { transition-delay: 0.2s; }
  &:nth-child(3) { transition-delay: 0.3s; }
  &:nth-child(4) { transition-delay: 0.4s; }
}

// Opóźnienie dla stats
.stats__item {
  &:nth-child(1) { transition-delay: 0.1s; }
  &:nth-child(2) { transition-delay: 0.2s; }
  &:nth-child(3) { transition-delay: 0.3s; }
  &:nth-child(4) { transition-delay: 0.4s; }
}