// Kolory główne
$color-white: #FFFFFF;        
$color-primary: #1B4F72;      
$color-secondary: #2E86C1;    
$color-accent: #85C1E9;       
$color-background: #F0F9FF; 
$color-background-dark: #0d1e2c

